*.asv
*.cfg
*.avi
*.fig
*.xml
*.npy
*.tex
*.fls
*.fdb_latexmk
.idea/
s3o4d/
*.gz
*.html
*.xml
*.xml___jb_tmp___
*.pth
*.meta
*.iml
*.tar
*.pyc
*.npz
*.hdf5
*.ipynb
*.fp
*.txt
*.zip
*.pkl
*.rar
*.pbs.*
*.h5
*.gz
*.synctex.*
*.npz.npy
*.pgf
*.log
*.aux
*.pt
*ubyte
